{% extends 'base.html.twig' %}

{% block body %}
<h1>CONCERTS</h1>
<a href="{{ url('selectConcerts') }}">Llistar</a>
<a href="{{ url('selecionarConcert') }}">Cerca</a>
<a href="{{ url('insertConcert') }}">Inserir</a>
<a href="{{ url('removeConcert') }}">Eliminar</a>
{% endblock %}
