{# app/Resources/views/customer/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Llistar de Concerts </h3>
<table border="1">
    <tr>
        <th>Codi</th>
        <th>Nom</th>
        <th>Autor</th>
        <th>Nom del grup</th>
        <th>Data</th>
        <th>Ciutat</th>
        <th>Espai</th>
    </tr>
    {% for concert in concert %}
        <tr>
            <td>{{ concert.codi }}</td>
            <td>{{ concert.nom }}</td>
            <td>{{ concert.autor }}</td>
            <td>{{ concert.nomgrup }}</td>
            <td>{{ concert.data }}</td>
            <td>{{ concert.ciutat }}</td>
            <td>{{ concert.espai }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
